{% extends "base.html" %}

{% block content %}
  <div class="content">
    <h1>Constant Sync</h1>
    <p>Click the button below to authorize the application:</p>
    <a href="{{ url_for('oauth2.authorize') }}" class="btn btn-primary">Authorize</a>
    <hr>
    <p>Or initiate a manual sync:</p>
    <form action="/manual_sync" method="post">
        <button type="submit" class="btn btn-secondary">Manual Sync</button>
    </form>
    {% if last_sync %}
    <hr>
    <p>Status: {{ last_sync }}</p>
    {% endif %}
  </div>
{% endblock %}
